@import "utils/variables";
@import "utils/mixins";

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

// font-family: 'Inconsolata', monospace;
body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  color: $gray;
  background: $white;

  .logo {
    font-family: "Inconsolata", monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    margin-left: 24px;
    margin-top: 20px;

    @include breakpoint-up(large) {
      margin-left: 77px;
    }
  }

  .container {
    @include breakpoint-up(large) {
      display: flex;
    }

    @include breakpoint-down(large) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    margin: 20px 24px 0 24px;

    .scare {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;

      @include breakpoint-up(large) {
        width: 539.22px;
        height: 447.43px;
        margin: 265px 0 367.57px 77px;
      }
    }
    .text {
      @include breakpoint-up(large) {
        margin: 265px 0 367.57px 77px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      h2 {
        font-weight: 700;
        font-size: 45px;
        line-height: 71.09px;
        letter-spacing: -0.035em;
        text-align: center;
        @include breakpoint-up(large) {
          width: 586px;
          height: 190px;
          font-size: 64px;
          line-height: 95px;
          letter-spacing: -0.035em;
          text-align: start;
        }

        @include breakpoint-down(small) {
          text-align: start;
        }
      }
      p {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.035em;
        color: $light-gray;
        text-align: center;

        @include breakpoint-up(large) {
          width: 381px;
          height: 108px;
          font-size: 24px;
          line-height: 36px;
          letter-spacing: -0.035em;
          text-align: start;
        }

        @include breakpoint-down(small) {
          text-align: start;
        }
      }
    }
    .btn {
      //   margin-left: 24px;
      width: 216px;
      height: 68px;
      margin-top: 3rem;
      margin-bottom: 3rem;
      margin-left: 245px;
      margin-right: 225px;

      background: $gray;
      color: $white;
      font-family: "Space Mono", monospace;

      @include breakpoint-up(large) {
        margin-left: 0;
        margin-right: 0;
      }

      @include breakpoint-down(small) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    //Media Queries
  }

  .foo {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $very-light-gray;
  }
}
